export(BMN.logistic)
export(BMN.samples)
export(global.tune)
export(multiple.tune.onesample)
export(multiple.tune.twosample)
export(testOneBMN)
export(testTwoBMN)
import(glmnet, Matrix)
importFrom("stats", "coef", "cov", "lm", "pnorm","qnorm","rbinom", "residuals", "sd")
importFrom("evd", "pgumbel")
importFrom("gdata", "upperTriangle")
importFrom("igraph", "sample_pa",'as_adjacency_matrix')